<div class="container">
<p id="notice"><%= notice %></p>

<div class="header">
  <h1>All Thoughts</h1>

  <% if thinker_signed_in? %>
    <ul class="actions">
      <li><%= link_to "New Thought", new_thought_path, class: 'new' %> </li>
    </ul>
  <% end %>
  </div>


<div class="row">
  <div class="col-sm-3 pull-right">
    <div class="sidebar">
      <h3 class="discover">Discover</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "ALL THOUGHTS" %></li>
      </ul>
    </div>
  </div>



<h3>Join Others Who Thnkalyke</h3>
<% @thoughts.each do |thought|%>
  <div class="col-sm-9 pull-left">
    <%= link_to thought_path(thought) do  %>
    <div class="thoughts">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag "http://via.placeholder.com/200x100", class: 'thought-image' %>
        </div>
        <div class="col-sm-9">
          <h3 class="thought-title"><%= thought.title %></h3>
          <span class="thought-venue"><%= thought.venue %> - <%= thought.location %></span>
          <p class="lead-time">
            <span class="thought-start"><%= time_format(thought.start_date) %></span>
          </p>
        </div>
      </div>
    </div>
  <% end %>   
  </div>
<% end %>
</div>
</div>
